.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

.subtitle {
    font-weight: 600;
}

.managment {
    margin-bottom: 150px;
    &__inner {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        max-width: 440px;
        &-title {
            margin-bottom: 23px;
        }
        &-subtitle {
            margin-bottom: 12px;
        }
        &-text {
            margin-bottom: 27px;
        }
    }

	&__image-adaptive {
		display: none;
	}
}

@media (max-width: 1021px) {
    .managment {
		margin-bottom: 100px;
        &__inner {
            grid-template-columns: auto;
			justify-content: center;
        }

        &__content {
            order: 2;
			margin: 0 auto;
			padding: 0 10px;
        }

		&__image svg {
			display: block;
			margin: 0 auto;
			margin-bottom: 50px;
		}
    }
}

@media (max-width: 631px) {
	.managment__image {
		&-notadaptive {
			display: none;
		}

		&-adaptive {
			display: block;
		}
	}
}

@media (max-width: 461px) {
	.managment__content {
		&-title {
            margin-bottom: 16px;
        }

		&-text {
			width: 310px;
		}
	}
}
